footer
    display: flex
    justify-content: space-between
    align-items: center
    width: 1440px
    height: 156px
    padding: 0 164px 0 90px
    background: white

    .copyright
        height: 18px
        width: 210px
        top: 55px
        left: 1000px
        padding: 0
        right: 10px
        left: 10px
        gap: 10px