@use "./sass/header" as *

*
    margin: 0
    padding: 0
    box-sizing: border-box
    user-select: none
    text-decoration: none

body
    background-color: #b5e0ea
    display: flex
    justify-content: center
    align-items: center

.container
    width: 1440px
    height: 2500px
    background: #000
    margin: 0 auto